html,
body {
  font-family: 'Montserrat', sans-serif;
}

header h1 {
  border-left: 2px solid #00f20f;
  font-size: 48px;
  font-weight: 400;
  padding-left: 30px;
}

.main {
  margin-top: 80px;
}

form input[type="text"] {
  background: #f0f0f0;
  border: none;
  border-left: 2px solid #fff;
  font-size: 36px;
  padding: 20px;
  width: 100%;
  transition: background 3s, border-left 2s;
}

form input:focus {
  background: #fff;
  border-left: 2px solid #000;
  box-shadow: none;
  outline: none;
}

button.btn {
  background: transparent;
  border: none;
  color: #00f20f;
  cursor: pointer;
  font-size: 36px;
  padding: 20px 24px;
  transition: background 2s, color 2s;
}

button.btn:hover {
  background: #00f28f;
  color: #fff;
}

.comments {
  margin-top: 20px;
  list-style: none;
  padding-left: 0px;
}

li {
  padding-left: 20px;
  border-left: 2px solid #000;
  font-size: 36px;
  margin: 0 0 36px;
}

.intro {
  padding: 5px;
  margin: 10px 20px;
}

[role="list"] {
  display: inline;
  padding: 0 0 0 15px;
  margin: 0 0 0 10px;
}

ul[role="list"] {
  position: relative;
}

span a:link {
  margin: 5px;
  padding: 3px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

span a:visited {
  text-decoration: none;
}

span a:hover {
  border: 2px thin #123;
  background-color: #00f20f;
  text-decoration: none;
}

span a:active {
  text-decoration: none;
  border-bottom: 2px solid red;
}

nav {
  padding: 20px;
}