{
  "plugins": ["cypress"],
  "root": true,
  "env": {
    "cypress/globals": true
  },
  "rules": {
    "testing-library/await-async-query": "off",
    "testing-library/prefer-screen-queries": "off"
  }
}
